.file_card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 35%;

  .file_inputs {
    position: relative;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;

    input {
      position: relative;
      max-width: 20rem;
      height: 4rem;
      z-index: 2;
      cursor: pointer;
      opacity: 0;
    }

    button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #01394f;
      font-size: 1.1rem;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      outline: none;
      transition: background-color 0.4s;
      box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
    }
  }

  .preview {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }

  .fileitems {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    // padding: 20px;
    margin-bottom: 20px;

    label {
      display: flex;
      flex-direction: space-between;

      input {
        border: none;
        border-bottom: 0.1rem solid lightgray;
        width: 500%;
        padding: 8px;
      }
    }
  }
}

.posting {
  img {
    width: 20rem;
    height: 20rem;
  }
}
