.register {
  height: 100vh;
  width: 100vw;
  background-color: rgb(222, 240, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid crimson; */
}
.left {
  flex: 1;
  background: linear-gradient(rgba(26, 34, 46, 0.5), rgba(39, 25, 46, 0.5)),
    url('../../images/drone.jpg') center;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  /* border: 1px solid crimson; */
}
.left h1 {
  font-size: 40px;
  line-height: 40px;
}
.left h2 {
  font-size: 40px;
  font-weight: lighter;
}
.left p {
  font-weight: bold;
}
.left span {
  font-size: 14px;
}
.left button {
  width: 50%;
  padding: 10px;
  bottom: none;
  background-color: #fff;
  color: rgb(26, 34, 46);
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.left button:hover {
  background-color: #938eef;
  color: white;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  border-bottom: #555 solid;
}

.right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.right form button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #443bf1;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
.right button:hover {
  background-color: #938eef;
  color: white;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  border-bottom: #555 solid;
}
.right form input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 30px 20px;
}
.right .select {
  display: flex;
}
.right h1 {
  color: #555;
}

.card {
  width: 80%;
  height: 100vh;
  border-radius: 10px;
  background-color: white;
  min-height: 500px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  /* border: 1px solid crimson; */
}
