.boxMain{
    display: flex;
    justify-content: space-between;
    padding: 10rem 0rem;
    

    .box1{
    display: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    height: 20rem;
    width: 27rem;
    border-radius: 1px solid lightgray;
    background-color: whitesmoke;
    cursor: pointer;
    

    .heading{
        font-weight: bolder;
        position:relative;
        font-size: 50px;
        color:#01394f;
    }

    .paragraph{
        font-weight: lighter;
        font-size: 1.5rem;
        position: relative;
        margin-top: 20%;
        color: #01394f;
    }
    }
}

.box1:hover{
    background-color: rgb(184, 203, 248);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 850px){
    .boxMain{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .box1{
        height: 20rem;
        width: 27rem;
    }
}