#hostelImage{
    width: 60%;
    height: 20%;
    object-fit: contain;
    border-radius: 10px;
}
#hostelDetailsContainer{
    width: 40%;
    margin:2% 0% 0% 5%;
}
#roomsSticker{
    background-color: yellow;
    position: fixed;
    top: 4%;
    left: 23%;
    width: 5%;
}
.hostelImageDiv{
    width: 100%;
}
.hostelDetailsDiv{
    display: grid;
    grid-template-columns: 30% 30%;
}
